.Popdown-container {
    /* display on top of  normal page*/
    z-index: 1;
}

/* semi-transparent background on top of main page to bring user focus to the popdown */
.Popdown-background {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top:0;
    bottom:0;
    right:0;
    left:0;
}

/* main box for popdown */
.Popdown-box {

    /* move to middle of screen */
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);

    max-width: 80%;
    background-color: white;

    /* padding-bottom:0px; */
    border-radius: 0.5rem;
}

.Popdown-message {
    text-align: center;
    margin: 2rem;
    font-family: sans-serif;
}

/* buttons for popdown */
.Popdown-button {
    color: white;
}

/* ok button on alert popdown */
.Popdown-alert .Popdown-button {
    background-color: red;
    width:100%;
    height: 2rem;
    border:0;
    border-radius: 0 0 0.5rem 0.5rem;
    outline: none;
}

/* color for mouseover */
.Popdown-alert .Popdown-button:hover {
    background-color: lightcoral;
}