html, body {
    height: 200%;
    width:100%;
    margin:0;
    padding:0;
    text-align: center;
}

body {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testButton {
    font-size: x-large;
    margin: 1rem;
}