@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');

* {
    font-family: 'Lexend Deca', sans-serif;
}

.headbar {
    text-align: center;
}

.title {
    font-weight: bold;
}

.links {
    text-align: center;
    font-size: xx-large;
}

a {
    text-decoration: none;
}

.link {
    font-weight: bold;
    padding: auto;
}

.section {
    font-weight: bold;
}

.download {
    text-align: center;
}

.testButtons {
    text-align: center;
    margin: auto;
}   

.testButton, .downloadButton {
    box-sizing: border-box;
    font-size: larger;
    font-family: 'Lexend Deca', sans-serif;
    color: rgb(50, 50, 50);
    border: 2px solid rgb(75, 75, 75);
    height: auto;
}

.testButton:hover, .testButton:active, .testButton:focus,
.downloadButton:hover, .downloadButton:active, .downloadButton:focus {
    border-color: black;
    color:black;
}

.downloadButton {
    margin: 5rem;
    font-size: xx-large!important;
    padding: 2rem 3rem;

}

.alertButton {
    background-color: lightskyblue;
}

.confirmButton {
    background-color: lightgreen;
}

.promptButton {
    background-color: rgb(255, 255, 150);
}

button {
    font-size: larger!important;
}

.code {
    background-color: rgba(0, 0, 0, 0.10);
    font-family: monospace;
    display: inline;
}