@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');

body, html {
    font-family: 'Lexend Deca', sans-serif;
}

.headbar {
    text-align: center;
}

.title {
    font-weight: bold;
}

.links {
    text-align: center;
    font-size: xx-large;
}

a {
    text-decoration: none;
}

.link {
    font-weight: bold;
    padding: auto;
}

.testButtons {
    text-align: center;
    
}

.testButton {
    box-sizing: border-box;
    font-size: larger;
    font-family: 'Lexend Deca', sans-serif;
    color: black;
    border: 2px solid black;
    height: auto;
}

.alertButton {
    background-color: lightskyblue;
}

.confirmButton {
    background-color: lightgreen;
}

.promptButton {
    background-color: rgb(255, 255, 150);
}

button {
    font-size: larger!important;
}

.code {
    background-color: rgba(0, 0, 0, 0.15);
    font-family: monospace;
    display: inline;
}