/* top level container */
.Popdown-container {

    /* display on top of  normal page*/
    z-index: 1;

    text-align: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    font-family: sans-serif;

    transition: opacity 0.2s;
}

/* semi-transparent background on top of main page to bring user focus to the popdown */
.Popdown-container .Popdown-background {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

/* flex container for popdown boxes */
.Popdown-container .Popdown-box-container {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

/* main popdown box */
.Popdown-container .Popdown-box {
    position: relative;
    width: 33%;
    background-color: white;
    margin: 2em 0em;
    border-radius: 10px;
    transition: opacity 0.5s;
}

/* take a larger portion of the screen at 1200px */
@media (max-width: 1200px) {
    .Popdown-container .Popdown-box {
        width: 50%;
    }
}
/* even larger portion at 650px */
@media (max-width: 650px) {
    .Popdown-container .Popdown-box {
        width: 80%;
    }
}

/* div for header and message + */
.Popdown-container .Popdown-info {
    
}

/* header of a popdown */
.Popdown-container .Popdown-header {
    
}

/* message if a popdown */
.Popdown-container .Popdown-message {
    margin: 2rem;
}

/* div for buttons */
.Popdown-container .Popdown-buttons {
    width:100%;
    height: 3rem; /* should match height of all buttons (below) */
}

/* buttons for popdown */
.Popdown-container .Popdown-button {
    color: white;
    font-size: 1.5em;
    border:0;
    outline: none;
    border-bottom: 8px solid #999;
    transition: background-color 0.2s;
}
/* when pressed */
.Popdown-container .Popdown-button:active {
    border-bottom: 4px solid #999;
    border-top: 4px solid white;
}

/* full width button */
.Popdown-container .Popdown-button-full{
    width: 100%;
    height: 3rem; /* should always match height of .buttons */
    border-radius: 0 0 10px 10px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}

/* right half button */
.Popdown-container .Popdown-button-right{
    width: 50%;
    height: 3rem; /* should always match height of .buttons */
    border-radius: 10px 10px 10px 0;
    position: absolute;
    right: 0;
    bottom: 0;
}

/* left half button */
.Popdown-container .Popdown-button-left{
    width: 50%;
    height: 3rem; /* should always match height of .buttons */
    border-radius: 10px 10px 0 10px;
    position: absolute;
    left: 0;
    bottom: 0;
}

/* ok buttons */
.Popdown-container .Popdown-ok {
    background-color: rgb(0, 150, 255);
}
.Popdown-container .Popdown-ok:hover {
    /* hover color */
    background-color: rgb(75, 225, 255);
}

/* cancel buttons */
.Popdown-container .Popdown-cancel {
    background-color: rgb(255, 0, 0);
}
.Popdown-container .Popdown-cancel:hover {
    /* hover color */
    background-color: rgb(255, 75, 75);
}

/* prompt input */
.Popdown-container .Popdown-input {
    font-size: 3em;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 10px;
    outline: 0;
    border: 0;
    background-color: rgb(199, 199, 199);
}
/* focus */
.Popdown-container .Popdown-input:focus {
    background-color: white;
}


/* class for body to disable scrolling when a popdown is active */
.Popdown-noScroll {
    overflow: hidden;
}

/* class for hidden elements */
.Popdown-noShow,
.Popdown-container .Popdown-noShow {
    
    /* display: none; */
    opacity: 0;
    z-index: -1;

    /* move well off screen */
    position: absolute;
    left: -999rem;
}