/* class for body to disable scrolling when a popdown is active */
.Popdown-noScroll {
    overflow: hidden;
}

/* class for hidden elements */
.Popdown-noShow {
    display:none;
}

/* top level container */
.Popdown-container {

    /* display on top of  normal page*/
    z-index: 1;

    text-align: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

/* semi-transparent background on top of main page to bring user focus to the popdown */
.Popdown-container .Popdown-background {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

/* flex container for popdown boxes */
.Popdown-container .Popdown-box-container {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

/* main popdown box */
.Popdown-container .Popdown-box-container .Popdown-box {
    position: relative;
    max-width: 80%;
    background-color: white;
    margin: 2em 0em;
    border-radius: 0.5rem;
}

.Popdown-header {
    font-family: sans-serif;
}

.Popdown-message {
    margin: 2rem;
    margin-bottom: 5rem;
    font-family: sans-serif;
}

/* buttons for popdown */
.Popdown-button {
    color: white;
}

/* ok button on alert popdown */
.Popdown-alert .Popdown-button {
    position: absolute;
    bottom:0;
    right: 0;
    left: 0;
    background-color: rgb(0, 150, 255);
    width:100%;
    height: 3rem;
    font-size: 2rem;
    border:0;
    border-radius: 0 0 0.5rem 0.5rem;
    outline: none;
}

/* color for mouseover */
.Popdown-alert .Popdown-button:hover {
    background-color: rgb(0, 200, 255);
}

.Popdown-alert .Popdown-button:active {
    background-color: rgb(0, 200, 255);
}