/* class for body to disable scrolling when a popdown is active */
.Popdown-noScroll {
    overflow: hidden;
}

/* class for hidden elements */
.Popdown-noShow {
    display:none!important;
}

/* top level container */
.Popdown-container {

    /* display on top of  normal page*/
    z-index: 1;

    text-align: center;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    font-family: sans-serif;
}

/* semi-transparent background on top of main page to bring user focus to the popdown */
.Popdown-container .Popdown-background {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

/* flex container for popdown boxes */
.Popdown-container .Popdown-box-container {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

/* main popdown box */
.Popdown-container .Popdown-box {
    position: relative;
    width: 33%;
    background-color: white;
    margin: 2em 0em;
    border-radius: 10px;
}

/* take a larger portion of the screen at 1200px */
@media (max-width: 1200px) {
    .Popdown-container .Popdown-box {
        width: 50%;
    }
}
/* even larger portion at 650px */
@media (max-width: 650px) {
    .Popdown-container .Popdown-box {
        width: 80%;
    }
}

/* div for header and message + */
.Popdown-container .Popdown-info {
    
}

/* header of a popdown */
.Popdown-container .Popdown-header {
    
}

/* message if a popdown */
.Popdown-container .Popdown-message {
    margin: 2rem;
}

/* div for buttons */
.Popdown-buttons {
    width:100%;
    height: 3rem;
}

/* buttons for popdown */
.Popdown-container .Popdown-button {
    /* box-sizing: border-box; */
    color: white;
    font-size: 2em;
    border:0;
    outline: none;

    /* box-shadow: 0 9px #999; */
}

.Popdown-container .Popdown-button:active {
    /* box-shadow: 0 5px #666; */
    /* transform: translateY(4px); */
}

/* full width button */
.Popdown-container .Popdown-button-full{
    width:100%;
    height: 100%;
    border-radius: 0 0 10px 10px;
}

/* right half button */
.Popdown-container .Popdown-button-right{
    width:50%;
    height: 100%;
    border-radius: 0 0 10px 0;
}

/* left half button */
.Popdown-container .Popdown-button-left{
    width:50%;
    height: 100%;
    border-radius: 0 0 0 10px;
}

/* ok buttons */
.Popdown-container .Popdown-ok {
    background-color: rgb(0, 150, 255);
}
.Popdown-container .Popdown-ok:hover {
    background-color: rgb(75, 225, 255);
}

/* cancel buttons */
.Popdown-container .Popdown-cancel {
    background-color: rgb(255, 0, 0);
}
.Popdown-container .Popdown-cancel:hover {
    background-color: rgb(255, 75, 75);
}

/* prompt input */
.Popdown-container .Popdown-input {
    text-align: center;
    font-size: 3em;
    box-sizing: border-box;
    width: 100%;
    margin:0;
    padding:0;
    outline: 0;
    border:0;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    background-color: rgb(199, 199, 199);
}
.Popdown-container .Popdown-input:focus {
    background-color: white;
}